@model Habit_Tracker___Doveloop.Models.ViewModels.HabitViewModel

@{
    ViewData["Title"] = "Edit";
}
<head>
    <link rel="stylesheet" type="text/css" href="/css/editHabit.css"/>
</head>

<h1>Edit</h1>

<h4>Habit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Habit.Id" />
            <input type="hidden" asp-for="Habit.User" />
            <input type="hidden" asp-for="Habit.Type" value="habit" />
            <div class="form-group">
                <label asp-for="Habit.Name" class="control-label"></label>
                <input asp-for="Habit.Name" class="form-control" name="habitName" />
                <span asp-validation-for="Habit.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr>
                            @{
                                int count = 0;
                                int tableCols = 3;
                                List<Habit_Tracker___Doveloop.Models.ViewModels.AppliedData> labels = ViewBag.LabelViewModel;

                                foreach (var Label in labels)
                                {
                                    if(count++ % tableCols == 0) {
                                        @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                            name="selectedLabels"
                                            value="@Label.Id"
                                            @(Html.Raw(Model.Habit.RelationIds.Contains(Label.Id) ? "checked=\"checked\"" : "")) />
                                            @Label.Name
                                    @:</td>
                                }
                                @:</tr>
                            }
                    </table>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
