body {
    
}

p {
    display:flex;
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 9vw;
    width: 9vw;
    border-radius: 30vw;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
    background-color: antiquewhite;
    text-align:center;
    align-items:center;
    justify-content:center;
    font-size:8vw;
    font-size:80px;
    max-height:80px;
    max-width:80px;
    
    
    
}


th{
    color:lightgrey;
}
tbody{
    margin: 10px;
    display:flex;
    flex-direction:row;
    border-collapse:collapse;
    width: fit-content;
    flex-wrap:wrap;
    
    
}
    tbody > tr {
        display: flex;
        flex-direction: column;
        margin: 4px;
        padding: 4px;
        background-color: antiquewhite;
        height: fit-content;
        min-height: 150px;
        border: 2px solid grey;
        border-radius: 4px;
        min-width: 200px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }
td{
    border-bottom: 0px;
}
a{
    text-decoration:none;
    color:black;
}
addbutton{
    color:red;
}
tbody>tr>td:nth-child(3){
    
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin-top:auto;
}
tbody > tr > td:nth-child(3)>a{
    margin-left: 5px;
    margin-right: 5px;
}
thead{
    display:none;
}

.label{
    padding: 5px;
    width: fit-content;
    margin: 2px;


}

