@model IEnumerable<Habit_Tracker___Doveloop.Models.ViewModels.HabitViewModel>
@{
    ViewData["Title"] = "Graphs";
}


<div class="text-center">
    <h1 class="display-4">Graphs Page</h1>
</div>

<h3>Pie Chart</h3>
<canvas id="graph_canvas" width="700px" height="500px"></canvas>

<script>
    let getAllHabits = function() 
    {
        let output = new Array()
        let scrubbedStr

        //Expected data structure 
        @foreach (Habit_Tracker___Doveloop.Models.ViewModels.HabitViewModel model in Model)
        {
            var data = new
            {
                id = model.Habit.Id,
                type = model.Habit.Type,
                user = model.Habit.User,
                name = model.Habit.Name,
                relationIds = model.Habit.RelationIds,
                labels = model.Labels.Select(l => new
                {
                    id = l.Id,
                    name = l.Name
                })
            };

            string objectString = System.Text.Json.JsonSerializer.Serialize(data);
              
            @:scrubbedStr = scrubQuotes("@objectString")

            @:output.push(JSON.parse(scrubbedStr));
        }

        return output
    }

</script>
