@model Habit_Tracker___Doveloop.Models.ViewModels.LabelViewModel

@{
    ViewData["Title"] = "Details";
}
<head>
    <link rel="stylesheet" type="text/css" href="/css/labels.css" />
</head>
<h1>Details</h1>

<div>
    <h4>Label</h4>
    <hr />
    <dl class="row card">
        
        <dd class = "col-sm-10 name label">
            @Html.DisplayFor(model => model.Label.Name)
        </dd>
        
        <dd class = "col-sm-10">
            @foreach(var habit in Model.Habits){
                <div class="habit">@habit.Name</div>
            }
            @if(Model.Habits.Count==0){
                <div nohabits>No Habits Associated</div>
            }
        </dd>
    </dl>
</div>
<div>
    <a class="interaction-buttons" asp-action="Edit" asp-route-id="@Model?.Label.Id">Edit</a> |
    <a class="interaction-buttons" asp-action="Index">Back to List</a>
</div>
